<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'geral/img/logo.gif' %}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
            Estoque
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'estoque' %}">Estoque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastrar' %}">Cadastrar Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'remover' %}">Remover Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reservar Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'entre_em_contato' %}">Entre em Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>