{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Remover Produto{% endblock 'title' %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'home/css/remover.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/navbar.css' %}">
{% endblock 'head' %}

{% block 'body' %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'login' %}">
                <img src="{% static 'geral/img/logo2.gif' %}" alt="Logo" width="50" height="50" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'estoque' %}">Estoque</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reservas' %}">Produtos Reservados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastrar' %}">Cadastrar Produto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'remover' %}">Remover Produto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reservar' %}">Reservar Produto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'entre_em_contato' %}">Entre em Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2>Remover Produto</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_produto"><strong>Produto:</strong></label>
                {{ form.produto }}
            </div>
            <div class="form-group">
                <label for="id_quantidade"><strong>Quantidade a ser removida:</strong></label>
                {{ form.quantidade }}
            </div>
            <button type="submit" class="btn-submit">Remover Produto</button>
        </form>
    
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock 'body' %}