{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'home/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/reservas.css' %}">
{% endblock 'head' %}

{% block 'body' %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'login' %}">
            <img src="{% static 'geral/img/logo2.gif' %}" alt="Logo" width="50" height="50" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'estoque' %}">Estoque de Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reservas' %}">Produtos Reservados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastrar' %}">Cadastrar Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'remover' %}">Remover Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reservar' %}">Reservar Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'grafico' %}">Gráfico de Movimentações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'entre_em_contato' %}">Entre em Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Produtos Reservados</h2>
    <form method="GET" class="filter-form">
        <div class="form-row">
            <div class="form-group">
                <label for="produto">Produto:</label>
                <select name="produto" id="produto">
                    <option value="">Todos</option>
                    {% for produto in produtos %}
                    <option value="{{ produto.id }}" {% if produto.id == request.GET.produto %}selected{% endif %}>{{ produto.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn-submit">Filtrar</button>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Data da Reserva</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.produto.nome }}</td>
                <td>{{ reserva.quantidade }}</td>
                <td>{{ reserva.data_reserva }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock 'body' %}
