/* Centraliza o container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 800px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens */
    width: 100%; /* Largura total */
    margin-bottom: 20px; /* Espaço entre os grupos de formulário */
}

.form-row {
    display: flex;
    justify-content: space-between; /* Espaçamento uniforme */
    width: 100%; /* Largura total */
    margin-bottom: 10px; /* Espaço entre as linhas */
}

.input-label {
    width: 45%; /* Largura dos rótulos */
    text-align: right; /* Alinhamento dos rótulos à direita */
    font-weight: bold;
    margin-right: 10px; /* Espaçamento entre o rótulo e o campo de entrada */
}

.input-field {
    width: 50%; /* Largura dos campos de entrada */
    padding: 10px;
    border: 2px solid #4CAF50; /* Cor da borda */
    border-radius: 5px;
    font-size: 16px;
}

button.btn-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50; /* Cor esverdeada */
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Espaço acima do botão */
}

button.btn-submit:hover {
    background-color: #45a049; /* Cor esverdeada mais escura */
}

.messages {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.message.success {
    background-color: #4CAF50;
    color: white;
}

.message.error {
    background-color: #f44336;
    color: white;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}